JWT_SECRET=your_jwt_secret_here_min_32_bytes
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=chatdb
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
REDIS_HOST=localhost
REDIS_PORT=6379
